/* MAIN */

body {
    display: flex;
    background-color:rgb(209, 216, 228);
    justify-content: center;
}

.main {
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: rgb(248, 247, 247);
    padding: 2px 50px 35px 50px;
    border: 6px solid rgb(183, 195, 216);
    font-family: 'Roboto';
    border-radius: 20px;
}

h1 {
    font-size: 50px;
    text-decoration: none;
    font-family: 'Cambria';
}

.links {    
    font-size: 15px;
    border-collapse: collapse;
}

.links th {
    padding: 4px 30px 4px 30px;
    background-color: rgb(233, 230, 230);
}

.links th a {
    text-decoration: none;
}

/*///////////// HERO TAB ///////////*/

.indexbox {
    display: flex;
    align-items: center;
    border: solid black 1px;
    padding-top: 10px;
    padding-right: 20px;
    margin-top: 4px;
    border-radius: 10px;
}

.indexdesc {
    background-color: rgb(234, 234, 234);
    border-radius: 40px;
    padding: 40px 30px 50px 30px;
    line-height: 0px;
    margin-bottom: 20px;
    border: solid black 1px;
}

.indexdesc p {
    font-size:25px; 
    font-weight: lighter; 
    padding-bottom: 5px;
}
.degree {
    font-size:30px; 
    font-weight: bold; 
    padding-bottom: 20px;
}
.indexdesc h3 {
    padding-top: 20px;
    font-size:60px; 
    padding-bottom: 40px
}
.indexdesc blockquote {
    font-size:38px; 
    font-style: italic;
}

@media screen and (max-width: 1400px) {
    .indexbox {
      flex-direction: row;
      padding: 20px;
      padding-top: 40px;
      padding-right: 35px;
    }
    .indexdesc p {
        font-size:20px;
    }
    .degree {
        font-size:25px; 
    }
    .indexdesc h3 {
        font-size:50px;
    }
    .indexdesc blockquote {
        font-size:33px;
    }
    .heroimage {
        height: 500px;
    }
    .heroimage img{
        height: 500px;
    }
}

@media screen and (max-width: 1300px) {
    
    .indexdesc h3 {
        font-size:40px;
    }
    .heroimage {
        height: 450px;
    }
    .heroimage img{
        height: 450px;
    }
}

@media screen and (max-width: 1060px) {
    .indexbox {
      flex-direction: column;
      padding: 0px 0px 0px 0px;
    }
    .indexdesc p {
        font-size:18px;
    }
    .degree {
        font-size:22px; 
    }
    .indexdesc h3 {
        font-size:35px;
    }
    .indexdesc blockquote {
        font-size:24px;
    }
    .heroimage {
        height: 300px;
    }
    .heroimage img{
        height: 300px;
    }
}

@media screen and (max-width: 700px) {
    
    .indexdesc h3 {
        font-size:30px;
    }
    .heroimage {
        height: 260px;
    }
    .heroimage img{
        height: 260px;
    }
    
}

.heroimage {
    height: auto;
    position: relative;
    top: 5px;
    padding-left: 30px;
}

.linkedindex {
    background-color: rgb(234, 234, 234);
    padding: 0px 10px 0px 10px;
    border-radius: 20px;
    display: inline-flex;
    font-size: 16px;
    font-family: Georgia;
    position: relative;
    border: solid black 1px;
}

.linkedinimage {
    padding: 8px 0px 0px 5px;
}

.linkedintext a {
    text-decoration: none;
}

/*//////////// PROGRESS TAB /////////*/

.qual {
    width: 100%;
    padding-left: 20px;
}

.tables {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: black solid 1px;
    border-radius: 10px;
    padding: 15px 10px 45px 30px;
    background-color: rgb(242, 242, 242);
}

.goals {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    font-size: larger;
    justify-content: space-around;
    padding: 45px 0px 35px 0px;
}

.goalsbox {
    border: 2px solid black;
    border-radius: 40px;
    padding: 10px 10px 20px 10px;
}

.goalslist {
    padding-right: 15px;
    font-size: 20px;
    line-height: 40px;
    list-style:circle;
    text-align: left;
}

.superlist {
    width: 865px;
}

.qualtitle {
    padding-right: 210px;
}

table {
    border-collapse: collapse;
}

.achievements {
    display:flex;
    flex-direction: row;
    align-items: center;
}

/*/////////// ABOUTME TAB ///////////*/

.basicinfo {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: black solid 1px;
    padding: 0px 30px 10px 30px;
    border-radius: 20px;
    background-color: rgb(242, 242, 242);
}

.basicinfotext {
    text-align: left;
    line-height: 25px;
    padding-right: 30px;
}

.basicinfo dd {
    display: list-item;
    list-style-type: disc;
}

.basicinfo dt {
    font-weight:700;
}

.state {
    border: black solid 1px;
    text-align: left;
    padding: 0px 15px 15px 20px;
    margin-top: 20px;
    border-radius: 20px;
    width: 575px;
    background-color: rgb(242, 242, 242);
}

.skills {
    display: inline-flex;
    flex-direction: column;
    text-align: left;
    font-size: 17px;
    border: black solid 1px;
    padding: 30px 20px 28px 0px;
    margin-left: 20px;
    border-radius: 20px;
    background-color: rgb(242, 242, 242);
}

.skills p {
    text-align: center;
    font-weight: 700;
    line-height: 30px;
    margin-bottom: 0px;
}

.infoandskills {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

/*/////////// CONTACT TAB ///////////*/

.contactmethods {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    padding: 0px 20px 0px 20px;
    margin-right: 20px;
}

.contactmethods img {
    padding-right: 4px;
    position: relative;
    top: 6px;
}

.contactmethods p {
    font-size: 14px;
}

.map {
    height: 220px;
    position: relative;
    left:65px;
    padding-top: 10px;
}

.contactinfo {
    display: flex;
    flex-direction: column;
}

.contactheader {
    font-size: 15px;
    position: relative;
    top: 10px;
}

.contactmain {
    display: inline-flex;
    flex-direction: row;
    border: 1px solid black;
    border-radius: 15px;
    background-color: rgb(242, 242, 242);
    margin: 0px 10px 0px 10px;
}

.contactimage {
    padding-right: 30px;
    position: relative;
    top: 9px;
}

.contactinfolist {
    line-height: 20px;
}

.promise {
    padding-top: 5px;
    align-self: center;
}
